<ul>
    <li><a href="/admin" class="nav-link">Trang chủ</a></li>
    <li><a href="/admin/list-categories?page=1&limit=3" class="nav-link">Quản trị danh mục</a></li>
    <li><a href="/admin/list-products?page=1&limit=3" class="nav-link">Quản trị sản phẩm</a></li>
    <li><a href="/admin/list-bills?page=1&limit=3" class="nav-link">Quản trị hóa đơn</a></li>
    <li><a href="#" class="nav-link">Quản trị người dùng</a></li>
    <li><a href="#" class="nav-link">Đăng xuất</a></li>
</ul>